body {
  font-family: 'Cabin', sans-serif;
}
.navbar-info-top {
  width: 100%;
  height: 5%;
  background-color: rgb(32, 31, 31);
  display: inline-block;
}
  .navbar-info-left {
    float: left;
    width: 50%;
    text-align: center;
    padding: 5px 0 5px 0;
  }
    .icon-car {
      width: 50%;
      display: inline-block;
      float: left;
      text-align: right;
      padding: 0 5px 0 0;

    }
    .navbar-info-left-text {
      width: 49%;
      color: white;
      font-size: 11px;
      display: inline-block;
      float: right;
      text-align: left;
      padding: 5px 0 0 0;
    }
      .navbar-info-left-cost {
        color: rgb(226, 81, 54);
      }

  .navbar-info-right {
    width: 50%;
    height: 100%;
    padding: 5px 0 5px 0;
    float: right;
    text-align: center;
  }
      .navbar-info-right-link {
        display: inline-block;

      }
      .navbar-info-right-link a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 12px;
        background-color: rgb(32, 31, 31);
      }

      .navbar-info-right-list {
        display: inline-block;
      }
           .navbar-info-right-langlist {
             position: relative;
             display: inline-block;
            }
            .navbar-info-right-langlist:after {
              content: "▼";
              color: rgb(255, 255, 255);
              padding: 0 8px;
              font-size: 12px;
              position: absolute;
              right: 16px;
              top: 4px;
              z-index: 1;
              text-align: center;
              width: 10%;
              height: 100%;
              pointer-events: none;
              box-sizing: border-box;
            }
            .langlist {
              padding-right: 25px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              border-color: rgb(0, 0, 0);
              background-color: rgb(0, 0, 0);
              color: rgb(255, 255, 255);
            }
      .icon-flag{
        display: inline-block;
      }
